<%- include('../layout/header') %> 
    <div class="row">
        <div class="col md-9">
            <h3>Clients List</h3>
        </div>
        <div class="col-md-3">
            <a name="newClient" id="newClient" class="btn btn-primary" href="/client/create/" role="button">New Client</a>
        </div>
    </div>
    <hr>
    <div class="row mt-5">
        <div class="col-md-12 m-auto">
            <table class="table table-hover table-inverse">
                <thead class="thead-inverse">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>FirstName</th>
                        <th>Email</th>
                        <th>Contact</th>
                        <th>Entreprise</th>
                        <th>Status</th>
                        <th class="text-center">Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                        <% if (clients) { %>
                            <% for(let client of clients) { %>
                                <tr>
                                    <td><%= client.id %> </td>
                                    <td><%= client.name %> </td>
                                    <td><%= client.firstname %> </td>
                                    <td><%= client.email %></td>
                                    <td><%= client.contact %> </td>
                                    <td><%= client.Entreprise.name %> </td>
                                    <td><%= (client.status) ? 'actif' : 'inactif' %> </td>
                                    <td>
                                        <div class="d-flex justify-content-between">
                                            <a href="/client/<%= client.id %>/edit" class="btn btn-primary">Edit</a>
                                            <form action="/client/<%= client.id %>?_method=DELETE" method="post">
                                                <button class="btn btn-danger" type="submit">Delete</button>
                                            </form>
                                        </div>
                                    </td>
                                </tr>
                            <% } %>
                        <% } %>
                    </tbody>
            </table>
        </div>
    </div>
<%- include('../layout/footer') %> 